@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply h-full bg-[#0A0A0D];
	}
}

@layer components {
	.body-container {
		@apply relative flex h-min min-h-full w-auto flex-col flex-nowrap items-center gap-0 overflow-hidden bg-[#0A0A0D] p-0;
	}

	.main-container {
		@apply z-[2] flex h-min w-708 flex-initial shrink-0 flex-col flex-nowrap items-center justify-start gap-8 overflow-hidden py-6 max-tablet:w-full max-tablet:p-2;
	}

	.hover-underline {
		@apply inline-block px-px after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:origin-bottom-right after:scale-0 after:bg-white after:transition-transform after:duration-[250ms] after:ease-out hover:after:origin-bottom-left hover:after:scale-100;
	}

	.flex-main {
		@apply flex h-min flex-none flex-row flex-nowrap items-center;
	}

	.gradient-text {
		-webkit-text-fill-color: transparent;
		background-size: 100% 100%;
		@apply bg-gradient-to-r from-[#0560FF9C] to-[#FF5AD1E6] bg-clip-text;
	}

	.speech-bubble {
		@apply relative translate-y-0 animate-float rounded-[11px] bg-[#ece5ce] p-[50px] text-center text-[15px] font-bold uppercase tracking-[3px] text-[#774f38] shadow-[20px_20px_rgba(131,175,155,1)];
	}

	.speech-bubble::after {
		content: '.';
		-webkit-text-fill-color: #ece5ce;
		text-shadow: 22px 22px #83af9b;
		@apply absolute -bottom-[30px] left-0 -z-[2] block h-[11px] w-[55px] translate-y-0 animate-float2 rounded-[11px] bg-[#ece5ce] text-left text-[55px] font-bold leading-[30px] shadow-[22px_22px_rgba(131,175,155,1)];
	}
}
